/.gradle/
/.idea/
/api/build/
/api/out/
/api/run/
/bom/build/
/build-logic/.gradle/
/build-logic/build/
/extra-kotlin/build/
/extra-kotlin/out/
/key/build/
/key/out/
/nbt/build/
/nbt/out/
/run/
/serializer-configurate*/build/
/serializer-configurate*/out/
/text-serializer-*/build/
/text-serializer-*/out/
/*.iml
