/.gradle/
/.idea/
/api/build/
/api/out/
/api/run/
/api-kotlin/build/
/api-kotlin/out/
/nbt/build/
/nbt/out/
/run/
/serializer-configurate*/build/
/serializer-configurate*/out/
/text-serializer-*/build/
/text-serializer-*/out/
/*.iml
